/* Stylesheet for Meetup Event Planner project (app).
* Part of assignment for Udacity Senior Web Developer Nanodegree.
*
* Mostly just replicates the stock materialize.scss file, so
* all kudos go to the Materialize team.
*
* Excludes some unnecessary materialize components to reduce file size,
* and adds a few apparent bug fixes and other customizations.
*
* Author: Ulrik H. Gade, March 2016
 */


// Import necessary materialize components

@charset "UTF-8";

// Mixins
// @import "materialize_v0.97.5/components/prefixer";
@import "materialize_v0.97.5/components/mixins";
@import "materialize_v0.97.5/components/color";

// Variables;
@import "materialize_v0.97.5/components/variables";

// Reset
@import "materialize_v0.97.5/components/normalize";

// Components
@import "materialize_v0.97.5/components/global";
@import "materialize_v0.97.5/components/icons-material-design";
@import "materialize_v0.97.5/components/grid";
@import "materialize_v0.97.5/components/navbar";
@import "materialize_v0.97.5/components/roboto";
@import "materialize_v0.97.5/components/typography";
//@import "materialize_v0.97.5/components/cards";
@import "materialize_v0.97.5/components/toast";
//@import "materialize_v0.97.5/components/tabs";
//@import "materialize_v0.97.5/components/tooltip";
@import "materialize_v0.97.5/components/buttons";
@import "materialize_v0.97.5/components/dropdown";
@import "materialize_v0.97.5/components/waves";
@import "materialize_v0.97.5/components/modal";
//@import "materialize_v0.97.5/components/collapsible";
//@import "materialize_v0.97.5/components/chips";
@import "materialize_v0.97.5/components/materialbox";
@import "materialize_v0.97.5/components/form";
//@import "materialize_v0.97.5/components/table_of_contents";
@import "materialize_v0.97.5/components/sideNav";
@import "materialize_v0.97.5/components/preloader";
//@import "materialize_v0.97.5/components/slider";
//@import "materialize_v0.97.5/components/carousel";
@import "materialize_v0.97.5/components/date_picker/default.scss";
@import "materialize_v0.97.5/components/date_picker/default.date.scss";
@import "materialize_v0.97.5/components/date_picker/default.time.scss";


// Add app-specific customizations and bug fixes

/*{border: 1px solid blue;}*/ // debug


// Custom validation message for date- and timepickers:
// stock message doesn't seem to work with the pickers

.custom-validate {
	color: #F44336;
	opacity: 1;
	font-size: 0.8rem;
	top: 0.8rem;
	left: 0.75rem;
	transition: .2s ease-out;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
    font-weight: normal;
    width: 100%;
    display: none;
}


// Character counter for textareas

.character-counter {
	float: right;
	font-size: 12px;
	height: 1px;
}


// Icon (asterisk) indicating required form field

.required-indicator {
	padding-left: 0.25em;
	color: red;
	font-style: italic;
}


// Bugfix: make input field label fit entire width of field

.form-label {
	width: 100%;
}


// Align form submit buttons in accordance with Material Design guidelines

.form-submit {
	text-align: right;
	padding-right: 15px;
}


// Bugfix: prevent error messages from overlapping active labels on fields below.
// Known remaining bug: problem persists when capacity field goes negative. This is rare enough to ignore for now.

input:not([type]) + label::after,
input[type=text] + label::after,
input[type=password] + label::after,
input[type=email] + label::after,
input[type=url] + label::after,
input[type=time] + label::after,
input[type=date] + label::after,
input[type=datetime-local] + label::after,
input[type=tel] + label::after,
input[type=number] + label::after,
input[type=search] + label::after,
textarea.materialize-textarea + label::after {
	font-size: 0.8rem;
}


input:not([type]).invalid + label::after,
input[type=text].invalid + label::after,
input[type=password].invalid + label::after,
input[type=email].invalid + label::after,
input[type=url].invalid+ label::after,
input[type=time].invalid + label::after,
input[type=date].invalid + label::after,
input[type=datetime-local].invalid + label::after,
input[type=tel].invalid + label::after,
input[type=number].invalid + label::after,
input[type=search].invalid + label::after,
textarea.materialize-textarea.invalid + label::after {
	top: 45px;
}


input:not([type]):focus.invalid + label::after,
input[type=text]:focus.invalid + label::after,
input[type=password]:focus.invalid + label::after,
input[type=email]:focus.invalid + label::after,
input[type=url]:focus.invalid+ label::after,
input[type=time]:focus.invalid + label::after,
input[type=date]:focus.invalid + label::after,
input[type=datetime-local].invalid + label::after,
input[type=tel]:focus.invalid + label::after,
input[type=number]:focus.invalid + label::after,
input[type=search]:focus.invalid + label::after,
textarea.materialize-textarea:focus.invalid + label::after {
	top: 67px;
}



// Descriptions for input fields

.input-field-description { // description
	font-style: italic;
}

.input-field-description::after { // Materialize-style divider
	content:' ';
	display: block;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	/*overflow: hidden;*/
	background-color: #e0e0e0; /*#9e9e9e;*/
}


// Hides elements with the class in a way compatiable with jQuery's show() function
// Used to hide views and other items by default that are to only be progressively displayed when conditions are right.

.hidden {
	display: none;
}


// Floating main action button on listviews (e.g. "Add Event", "Add Guest")

.fixed-action-btn { // mobile (default)
	bottom: 45px;
	right: 24px;
}

@media (min-width:1025px) { // desktop
	.fixed-action-btn { // mobile (default)
		position: static;
		display: block;
		text-align: right;
		margin-top: -20px;
	}
}


// 'Edit guest list' button in event form (could generalize using css class b ut no need for now)

#event-edit-guests-button {
	color: blue;
	margin-top: 25px;
}


// Align switch widgets flush right in their row

.switch-container {
	text-align: right;
}


// Limit timepicker height on devices with large physical screens (i.e. laptops and PCs):
// The very long default lists are unwieldy to operate on non-mobile, non-touch screens

@media (min-width:1025px) {
	.picker__list {
		max-height: 500px;
		overflow: auto;
	}

	datalist { // I think this is a failed experiment; datalists can't currently be styled with CSS
		max-height: 500px; // try to take out and see if it makes any difference
		overflow: auto;
	}
}


// Simple secondary navigation.
// Would prefer to integrate this dynamically into main (top) nav.
// But out of time; this will have to do for now.

.secondary-nav {
	margin-top: 30px;
	margin-bottom: 30px;
}


// Remove default browser stylesheet ugliness from host type radio button group in EventView

fieldset {
	border: none;
	padding: 0px;
	padding-bottom: 15px;
	margin: 0px;
	margin-left: -10px;
}

.radioset-container {
	padding: -10px;
	margin: -10px;
}

fieldset {
	input[type=radio]:checked+label,
	input[type=radio]:not(:checked)+label {
		padding-left: 25px;
		padding-right: 20px;
	}
	legend {
		color: #9e9e9e;
		font-size: 0.8rem;
		top: 0.8rem;
		left: 0.75rem;
		line-height: 1.5;
		font-family: "Roboto", sans-serif;
		font-weight: normal;
		width: 100%;
	}
	label {
		color: #000;
	}
}